Build
.vs/Virtual_Worlds/*
.vs/Virtual_Worlds/v17/*
Intermediate/x64/Debug/*
Intermediate/x64/Release/*
Universal/ImGui/
Universal/ImGuizmo/
Universal/ImGuIZMO_quat/
Universal/ImGuIZMO_exaample/
Universal/tinyFileDialog/
Universal/3rdparty/
Universal/boost/
Build/x64/Release/Virtual_Worlds.exe
Build/x64/Release/Virtual_Worlds.exe
Build/x64/Release/Virtual_Worlds.exe
Build/x64/Release/Virtual_Worlds.pdb
